{% extends 'base.html.twig' %}

{% block title %}Начало{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center">Последно качени снимки</h1>
        {#{% for photo in photos %}#}

        {#{% else %}#}
        {#<p>Още няма добавени снимки :(</p>#}
        {#{% endfor %}#}
    </div>
{% endblock %}
